name: train-and-validate

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:


jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.5"
          cache: false

        name: Install Dagger CLI
          run:|
            curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_INSTALL_BINARY=/usr/local/bin/dagger sh

              run:dagger run --workdir dagger go run main.go
