name: train-and-validate

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:


jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.5"
          cache: false
